
html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

@keyframes animatedBackground {
  from {background-image: url("https://user-images.githubusercontent.com/59292377/71555462-a0873600-29fa-11ea-9aff-aeb464f899d1.png");}
  to {background-image: url("https://user-images.githubusercontent.com/59292377/71555461-9e24dc00-29fa-11ea-84be-7709bdb47e9a.png");}
}

body {
 font-family: Courier, Candara, Lucida Bright;
 background-position: center top;
 background-size: cover;
 margin: 0;
 animation: animatedBackground 40s linear infinite;
}

.page-title {
  font-family: Courier, Candara, Lucida Bright;
  text-align: center;
  font-weight: 100;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery-item {
  margin: 20px;
  border: 5px solid #FAF7EB;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 100px;
  padding-left: 40px;
}

.gallery-item .thumbnail {
}

.nav {
 font-family: Courier, Candara, Lucida Bright;
 display: inline;
}

.main {
}
