
html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
 font-family: Book Antiqua, sans-serif;
 background-image: url("https://www.flickr.com/gp/186223685@N02/k4G0EJ");
 background-position: center top;
 background-size: cover;
 margin: 0;
}

.page-title {
  text-align: center;
  font-weight: 100;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery-item {
  margin: 20px;
  border: 5px solid #FAF7EB;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 100px;
  padding-left: 40px;
}

.gallery-item .thumbnail {
}

.nav {
 display: inline;
}

.main {
}
